<div class="clock-container">
    <div class="time-container">
        <h3>The current time in Eorzea is:</h3>
        <br />
        <h2>@EorzeaTimeString</h2>
    </div>
    <div class="controls-container">
        <label for="UseMilitaryTimeCheckBox">
            Use 24-hour time
        </label>
        <input id="UseMilitaryTimeCheckBox"
               type="checkbox"
               @bind="UseMilitaryTime" />
    </div>
</div>
