.clock-container {
    margin: 5px;
    padding: 5px;
}

.time-container {
    margin: 5px;
    padding: 5px;
}

.controls-container {
    margin: 5px;
    padding: 5px;
}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
    h2 {
        font-size: 9vw;
    }

    h3 {
        font-size: 10vw;
    }

    label {
        font-size: 2vw;
    }

    input[type='checkbox'] {
        width: 1em;
        height: 1em;
    }
}

@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 9vw;
    }

    label {
        font-size: 3.5vw;
    }

    input[type='checkbox'] {
        width: 1.2em;
        height: 1.2em;
    }
}

@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    h2 {
        font-size: 7vw;
    }

    h3 {
        font-size: 8vw;
    }

    label {
        font-size: 2.5vw;
    }

    input[type='checkbox'] {
        width: 1em;
        height: 1em;
    }
}

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 7vw;
    }

    label {
        font-size: 2vw;
    }

    input[type='checkbox'] {
        width: 1em;
        height: 1em;
    }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 6vw;
    }

    label {
        font-size: 2vw;
    }

    input[type='checkbox'] {
        width: 1em;
        height: 1em;
    }
}

@media (min-width:1281px) { /* hi-res laptops and desktops */
    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 5vw;
    }

    label {
        font-size: 2vw;
    }

    input[type='checkbox'] {
        width: 1em;
        height: 1em;
    }
}
