.clock-container {
    margin: 5px;
    padding: 5px;
}

.time-container {
    margin: 5px;
    padding: 5px;
}

.controls-container {
    margin: 5px;
    padding: 5px;
}

@media /*only screen and*/ (max-width: 600px) {

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 8vw;
    }

    label {
    }

    input[type='checkbox'] {
    }
}
